#banner {
    width:50%;
}

h1 {
    color:#555;
    font-family: Arial;
}

ul {
    background-color: #555;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li  {
    float: left;
}

a {
    color: #fff;
    display: block;
    font-family: arial;
    padding: 10px 10px;
    text-decoration: none;
}

a:hover{
    background-color: #f00;
}